<div class="bg-white shadow">
  <div class="container mx-auto px-4 py-2 md:py-3">
    <div class="flex justify-between items-center">
      <!-- Twitter Title -->
      <div class="flex justify-between text-lg md:text-xl font-bold">
        <img src="assets/img/twitter-logo.png" alt="" />
        <h1>Twitter</h1>
      </div>
      <!--  -->
      <div class="relative">
        <div
          class="cursour-pointer w-10 h-10 bg-blue-200 text-blue-600 flex items-center justify-center rounded-full"
        >
          V
        </div>
      </div>
    </div>
  </div>
</div>
